[user]
	name = Marius Kintel
	email = marius@kintel.net

[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        bra = branch -a
        gl = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        format = clang-format

[core]
        pager = less -FrX -+S
        editor = nano
	excludesfile = /Users/kintel/.gitignore
	autocrlf = input

[color]
        ui = auto

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[remote-hg]
	track-branches = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
