[user]
	name = Marius Kintel
	email = marius@kintel.net

[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        bra = branch -a
        gl = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        format = clang-format

[core]
        pager = less -FrX -+S
        editor = nano
	excludesfile = /Users/kintel/.gitignore
	autocrlf = input

[color]
        ui = auto

[push]
	default = simple
